<a [routerLink]="['/room', room.id]" class="relative flex flex-col my-6 bg-light-card dark:bg-dark-card shadow-sm border border-light-border dark:border-dark-border rounded-lg w-full">
  <div class="relative m-2.5 overflow-hidden text-white rounded-md">
    <img [ngSrc]="room.image || 'https://via.placeholder.com/422x210?text=No+Image'" alt="{{ room.name }} image"
             width="512" height="512"
      class="object-contain object-center transform transition-transform duration-300 hover:scale-110 hover:shadow-xl">
  </div>
  <div class="p-4">
    <h5 class="text-lg sm:text-2xl leading-8 capitalize font-montserrat font-semibold">{{ room.name }}</h5>
    <ul  class="mt-6 relative gap-y-5 space-y-4 text-lg font-montserrat">
      <li class="flex item-center justify-start gap-x-5 flex-nowrap">
        <mat-icon class="text-primary">attach_money</mat-icon>
        {{ room.price | translate }} {{ "FEATURES.PRICE_UNIT" | translate}}
      </li>
      <li class="flex item-center justify-start gap-x-5">
        <mat-icon class="text-primary">space_dashboard</mat-icon>
        {{ room.size | translate }}
      </li>
      <li *ngFor="let feature of room.features" class="flex items-center justify-start gap-x-5">
        <mat-icon class="text-primary">{{ feature.icon }}</mat-icon>
        {{ feature.description | translate }}
      </li>
    </ul>
  </div>
  <a [routerLink]="['/room', room.id, '#booking']" class="flex justify-center mt-4 mb-7">
    <div class="p-3 rounded-md bg-primary border  border-transparent hover:border-light-border hover:dark:border-light-border text-white
  shadow-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-xl w-full max-w-xs font-semibold uppercase">
      {{ "FEATURES.CTA" | translate }}
    </div>
  </a>
</a>
