<dialog #authModal id="authModal" class="modal">
    <app-alert type="auth"/>

    <div class="modal-box flex flex-col justify-center p-4 bg-light-card dark:bg-dark-card">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-center items-center mt-5">
            <h2 class="text-center text-3xl/9 font-bold tracking-tight">
                @if (isForgotPasswordMode) {
                    {{ 'AUTH.PASSWORD_RESET.TITLE' | translate }}
                } @else {
                    {{ (isLoginMode ? 'AUTH.LOGIN' : 'AUTH.REGISTER') | translate }}
                }
            </h2>

            @if (isForgotPasswordMode) {
                <h3 class="text-center mt-4 text-light-secondary">
                    {{ 'AUTH.PASSWORD_RESET.DESC' | translate }}
                </h3>
            }
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
            <form #authForm="ngForm" (ngSubmit)="submit()">
                <!-- Email -->
                <div class="mt-4">
                    <label for="email" class="block text-sm font-medium">{{ 'AUTH.EMAIL' | translate }}<span *ngIf="!isLoginMode" class="text-red-600"> *</span></label>
                    <div class="relative mt-1">
                        <input
                            id="email"
                            type="email"
                            name="email"
                            [(ngModel)]="email"
                            placeholder="{{ 'AUTH.EMAIL' | translate }}"
                            required
                            class="input w-full pr-10 bg-light-card dark:bg-dark-card border"
                            #emailRef="ngModel"
                        />
                    </div>
                    <p *ngIf="emailRef.invalid && emailRef.touched" class="text-red-500 text-sm mt-3">
                        {{ 'AUTH.EMAIL_REQUIRED' | translate }}
                    </p>
                </div>

                @if (!this.isForgotPasswordMode) {
                    <!-- Password -->
                    <div class="mt-4">
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm/6 font-medium">{{ 'AUTH.PASSWORD' | translate }}<span *ngIf="!isLoginMode" class="text-red-600"> *</span></label>
                            @if (isLoginMode) {
                                <div class="text-sm">
                                    <button (click)="switchToForgotPassword()" class="font-semibold text-primary hover:text-primary/80">
                                        {{ 'AUTH.PASSWORD_RESET.CALL' | translate }}
                                    </button>
                                </div>
                            }
                        </div>
                        <div class="relative mt-1">
                            <input
                                [(ngModel)]="password"
                                [type]="showPassword ? 'text' : 'password'"
                                [placeholder]="'AUTH.PASSWORD' | translate"
                                name="password"
                                id="password"
                                required
                                minlength="6"
                                class="input w-full pr-10 bg-light-card dark:bg-dark-card border"
                                #passwordRef="ngModel"
                            />
                            <button type="button" (click)="showPassword = !showPassword" class="absolute inset-y-0 right-0 flex items-center pr-3">
                                <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                </svg>
                                <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                            </button>
                        </div>

                        <p *ngIf="passwordRef.invalid && passwordRef.touched" class="text-red-500 text-sm mt-3">
                            {{ 'AUTH.PASSWORD_REQUIRED' | translate }}
                        </p>
                    </div>

                    <!-- Other input fields, conditional based on isLoginMode -->
                    <ng-container *ngIf="!isLoginMode">

                        <!-- Full Name -->
                        <div class="mt-4 col-span-2">
                            <label for="full_name" class="block text-sm font-medium">
                                {{ 'AUTH.FULL_NAME' | translate }}
                            </label>
                            <div class="relative mt-1">
                                <input
                                        id="full_name"
                                        type="text"
                                        name="fullName"
                                        [(ngModel)]="fullName"
                                        placeholder="{{ 'AUTH.FULL_NAME' | translate }}"
                                        required
                                        class="input w-full pr-10 bg-light-card dark:bg-dark-card border"
                                        #full_nameRef="ngModel"
                                />
                            </div>
                            <p *ngIf="full_nameRef.invalid && full_nameRef.touched" class="text-red-500 text-sm mt-3">
                                {{ 'AUTH.FULL_NAME_REQUIRED' | translate }}
                            </p>
                        </div>

                        <!-- Band Name (Optional) -->
                        <div class="mt-4 col-span-2">
                            <label for="band_name" class="block text-sm font-medium">
                                {{ 'AUTH.BAND_NAME' | translate }} ({{ 'AUTH.OPTIONAL' | translate }})
                            </label>
                            <div class="relative mt-1">
                                <input
                                        id="band_name"
                                        type="text"
                                        name="bandName"
                                        [(ngModel)]="bandName"
                                        placeholder="{{ 'AUTH.BAND_NAME' | translate }}"
                                        class="input w-full pr-10 bg-light-card dark:bg-dark-card border"
                                />
                            </div>
                        </div>

                    <!-- Phone -->
                    <div class="mt-4">
                        <label for="phone" class="block text-sm font-medium">{{ 'AUTH.PHONE' | translate }}<span class="text-red-600"> *</span></label>
                        <div class="relative mt-1">
                            <input
                                id="phone"
                                type="tel"
                                name="phone"
                                pattern="^[0-9\-]+$"
                                inputmode="tel"
                                [(ngModel)]="phone"
                                placeholder="{{ 'AUTH.PHONE' | translate }}"
                                required
                                class="input w-full pr-10 bg-light-card dark:bg-dark-card border"
                                #phoneRef="ngModel"
                            />
                        </div>
                        <p *ngIf="phoneRef.invalid && phoneRef.touched" class="text-red-500 text-sm mt-3">
                            {{ 'AUTH.PHONE_INVALID' | translate }}
                        </p>
                    </div>
                    </ng-container>
                }

                <!-- Error Message from Backend -->
                <div *ngIf="error" class="text-red-500 text-sm mt-3">
                    {{ 'AUTH.ERRORS.' + (error | uppercase) | translate }}
                </div>

                <!-- Submit Button with Dynamic Enable/Disable -->
                <div class="modal-action mt-6">
                    <button
                        type="submit"
                        class="btn flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-primary/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        [disabled]="authForm.invalid"
                    >
                        @if (isForgotPasswordMode) {
                            {{ 'AUTH.PASSWORD_RESET.SUBMIT' | translate }}
                        } @else {
                            {{ (isLoginMode ? 'AUTH.LOGIN' : 'AUTH.REGISTER') | translate }}
                        }
                    </button>
                </div>
            </form>

            <p class="my-5 text-center text-lg/6 text-light-secondary dark:text-dark-secondary">
                @if (isForgotPasswordMode) {
                    {{ 'AUTH.NEED_ACCOUNT' | translate }}
                    <button (click)="switchToRegister()" class="font-semibold text-primary hover:text-primary/80">
                        {{ 'AUTH.REGISTER' | translate }}
                    </button>
                } @else {
                    {{ (isLoginMode ? 'AUTH.NEED_ACCOUNT' : 'AUTH.HAVE_ACCOUNT') | translate }}

                    <button (click)="toggleMode()" class="font-semibold text-primary hover:text-primary/80">
                        {{ (isLoginMode ? 'AUTH.REGISTER' : 'AUTH.LOGIN') | translate }}
                    </button>
                }
            </p>
        </div>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button>{{ 'AUTH.CLOSE' | translate }}</button>
    </form>
</dialog>