<div
  class="relative mt-20 rounded-3xl px-6 lg:px-8 flex flex-col items-center justify-start min-h-[80vh] sm:min-h-screen h-auto bg-cover bg-center text-white"
  [ngStyle]="{'background-image': getBackgroundImage(room, 0)}">

<!-- Content Wrapper -->
  <div class="mx-auto w-full text-center flex flex-col justify-start h-full px-4 sm:px-6 lg:px-8">

    <div class="w-full max-w-7xl mx-auto bg-black/30 backdrop-blur-sm rounded-xl my-10 p-5">
      <!-- Room Name -->
      <h1 class="font-montserrat text-4xl sm:text-5xl lg:text-6xl font-semibold leading-tight">
        {{ room.name }}
      </h1>

      <!-- Pricing & Size Info -->
      <div class="mt-5 flex flex-col sm:flex-row items-center justify-center gap-4 sm:gap-10 text-lg sm:text-xl font-poppins">
        <div class="flex items-center gap-x-3">
          <mat-icon class="text-primary">attach_money</mat-icon>
          <span>{{ 'ROOMS.BASE_PRICE' | translate }} {{ room.price }} {{ "FEATURES.PRICE_UNIT" | translate }}</span>
        </div>
        <div class="flex items-center gap-x-3">
          <mat-icon class="text-primary">space_dashboard</mat-icon>
          <span>{{ 'ROOMS.SIZE' | translate }} {{ room.size }}</span>
        </div>
      </div>

      <!-- Equipments -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-8">

        <!-- Base -->
        <div class="max-w-4xl mx-auto text-center flex flex-col">
          <h3 class="text-sm uppercase text-light-secondary dark:text-dark-secondary font-poppins tracking-widest">
            {{ "ROOMS.BASE_DESC" | translate }}
          </h3>
          <p class="mt-2 text-3xl sm:text-4xl font-semibold">{{ "ROOMS.BASE" | translate }}</p>
          <ul class="text-left font-poppins text-lg sm:text-xl mt-5 space-y-3 flex-1">
            <li *ngFor="let equipment of room.equipment" class="flex items-center gap-x-4">
              <app-icon [iconName]="equipment.icon" class="h-10 w-10"/>
              {{ equipment.name }}
            </li>
          </ul>
        </div>

        <!-- Rent -->
        <div class="max-w-4xl mx-auto text-center flex flex-col">
          <h3 class="text-sm uppercase text-light-secondary dark:text-dark-secondary font-poppins tracking-widest">
            {{ "ROOMS.RENT_DESC" | translate }}
          </h3>
          <p class="mt-2 text-3xl sm:text-4xl font-semibold">{{ "ROOMS.RENT" | translate }}</p>
          <ul class="text-left font-poppins text-lg sm:text-xl mt-5 space-y-3 flex-1">
            <li *ngFor="let equipment of room.equipment" class="flex items-center gap-x-4">
              <app-icon [iconName]="equipment.icon" class="h-10 w-10"/>
              {{ equipment.name }} <p class="text-light-secondary">- 300 {{ "FEATURES.PRICE_UNIT" | translate }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Price Table -->
    <div class="w-full max-w-7xl mx-auto bg-black/30 backdrop-blur-sm rounded-xl my-10 p-5">
      <!-- Title -->
      <h2 class="text-4xl sm:text-5xl font-montserrat font-bold">{{ 'ROOMS.HOURLY_RATES' | translate }}</h2>

      <div class="flex justify-center mt-10">
        <div class="w-full max-w-5xl overflow-hidden border border-light-border rounded-lg shadow-lg text-white">
          <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-light-border">
              <!-- Table Header -->
              <thead>
              <tr>
                <th class="px-6 py-4 text-left text-base sm:text-lg font-semibold uppercase"></th>
                <th class="px-6 py-4 text-center text-base sm:text-lg font-semibold uppercase">
                  {{ 'ROOMS.NORMAL' | translate }}
                </th>
                <th class="px-6 py-4 text-center text-base sm:text-lg font-semibold uppercase">
                  {{ 'ROOMS.LAST_MINUTE' | translate }}
                </th>
              </tr>
              </thead>

              <!-- Table Body -->
              <tbody class="divide-y divide-light-border">
              <tr>
                <td class="px-6 py-4 text-lg sm:text-xl font-medium">{{ 'ROOMS.BAND' | translate }}</td>
                <td class="px-6 py-4 text-center text-lg sm:text-xl font-bold">
                  {{ room.price }} {{ "FEATURES.PRICE_UNIT" | translate }}
                </td>
                <td class="px-6 py-4 text-center text-lg sm:text-xl font-bold">
                  {{ room.price }} {{ "FEATURES.PRICE_UNIT" | translate }}
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 text-lg sm:text-xl font-medium">{{ 'ROOMS.INDIVIDUAL' | translate }}</td>
                <td class="px-6 py-4 text-center text-lg sm:text-xl font-bold">
                  {{ room.price }} {{ "FEATURES.PRICE_UNIT" | translate }}
                </td>
                <td class="px-6 py-4 text-center text-lg sm:text-xl font-bold">
                  {{ room.price }} {{ "FEATURES.PRICE_UNIT" | translate }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Sales Section -->
      <div class="grid grid-cols-1 lg:grid-cols-2 mt-16 gap-10 mb-10">
        <div class="max-w-xl mx-auto text-center">
          <h2 class="text-3xl font-semibold">{{ 'ROOMS.LAST_MINUTE_DEAL' | translate }}</h2>
          <p class="font-poppins text-lg sm:text-xl mt-4 text-dark-secondary">{{ 'ROOMS.LAST_MINUTE_DESC' | translate }}</p>
        </div>
        <div class="max-w-xl mx-auto text-center">
          <h2 class="text-3xl font-semibold">{{ 'ROOMS.INDIVIDUAL_PRACTICE' | translate }}</h2>
          <p class="font-poppins text-lg sm:text-xl mt-4 text-dark-secondary">{{ 'ROOMS.INDIVIDUAL_DESC' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="relative my-20 rounded-3xl px-6 lg:px-8 flex flex-col items-center justify-start min-h-[80vh] sm:min-h-screen h-auto bg-cover bg-center text-white"
     [ngStyle]="{'background-image': getBackgroundImage(room, 1)}">
  <!--Booking Section-->
  <div id="booking" #booking class="w-full max-w-7xl mx-auto bg-black/30 backdrop-blur-sm rounded-xl my-10 p-5">
    <div class="mx-auto max-w-2xl text-center flex flex-col justify-center my-10">
      <h2 class="text-3xl sm:text-4xl font-semibold">{{ 'ROOMS.CTA' | translate }}</h2>

      <a class="w-full h-full mt-8" routerLink="/booking">
        <div class="text-lg font-poppins  p-5 text-dark-foreground sm:text-xl/8 flex flex-col rounded bg-primary shadow-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-xl h-full border border-transparent hover:border-light-border hover:text-white">
          {{ 'HERO.CTA' | translate }}
        </div>
      </a>

      <!-- Book CTA    -->
      <div class="mt-10 flex flex-col md:flex-row justify-around gap-6 w-full">
        <app-cta-card
          [title]="'HERO.CTA_BOOK' | translate"
          [icon]="'calendar_today'"
          [link]="'/booking'"
        ></app-cta-card>

        <app-cta-card
          [title]="'HERO.CTA_PHONE' | translate"
          [icon]="'local_phone'"
          [link]="'/contact'"
          [content]="global.businessPhone"
        ></app-cta-card>
      </div>
    </div>
  </div>

  <!-- Other rooms -->
  <div class="w-full max-w-7xl mx-auto bg-black/30 backdrop-blur-sm rounded-xl my-10 p-5">
    <div class="mx-auto w-full text-center flex flex-col justify-center my-10">
      <h2 class="text-3xl sm:text-4xl font-semibold">Hasonló Termek</h2>

      <!-- Room List -->
      <div class="w-full text-light-foreground dark:text-dark-foreground mx-auto max-w-2xl px-2 sm:px-6 lg:max-w-7xl lg:px-4 text-center">
        <app-room-list [rooms]="randomRooms" />
      </div>
    </div>
  </div>
</div>
