<a [routerLink]="link" class="w-full h-full text-center">
  <div
    class="bg-light-card dark:bg-dark-card border border-light-border dark:border-dark-border hover:bg-primary dark:hover:bg-primary hover:border-dark-border hover:dark:border-light-border hover:text-white shadow-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-xl p-4 min-w-64 relative mx-auto flex h-full w-full max-w-sm flex-col items-center overflow-hidden rounded-lg"
  >
    <mat-icon class="mb-2">{{ icon }}</mat-icon>
    <div class="font-bold text-lg">{{ title }}</div>
    <div class="text-base">{{ content }}</div>
  </div>
</a>
