<div class="fixed top-5 right-5 space-y-3 z-[1000]">
  <div
    *ngFor="let alert of alerts"
    class="alert shadow-lg transition-all duration-300 transform translate-x-5 opacity-0 animate-fade-in"
    [ngClass]="{
      'alert-success': alert.type === 'success',
      'alert-warning': alert.type === 'warning',
      'alert-error': alert.type === 'error',
    }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span
      >{{ alert.translatedMessage | translate
      }}{{ alert.additionalMessage }}</span
    >
    <button class="btn btn-sm btn-circle btn-ghost" (click)="closeAlert(alert)">
      ✕
    </button>
  </div>
</div>
