<div
  class="relative mt-10 rounded-3xl p-10 px-6 lg:px-16 min-h-[80vh] sm:min-h-screen h-auto bg-cover bg-center text-white"
  [ngStyle]="{'background-image': getBackgroundImage()}">

  <!-- Main Container -->
  <div class="flex flex-col items-center w-full mx-auto bg-black/30 backdrop-blur-sm rounded-xl p-8 sm:p-10">

    <!-- Section Title -->
    <h2 class="text-sm uppercase text-dark-secondary font-poppins tracking-widest">
      {{ "PRICES.PRE_TITLE" | translate }}
    </h2>
    <h1 class="mt-4 text-4xl sm:text-6xl font-bold text-center text-white">
      {{ "PRICES.TITLE" | translate }}
    </h1>

    <!-- Price Table -->
    <div class="flex justify-center w-full mt-8 mx-16">
      <div class="w-full overflow-hidden border border-light-border rounded-lg shadow-lg">
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-light-border border border-gray-700 font-poppins">

            <!-- Table Header -->
            <thead class="text-primary">
            <tr>
              <th class="px-6 py-5 text-center text-lg sm:text-xl font-semibold uppercase">
                {{ 'PRICES.HOUR_PRICE' | translate }}
              </th>
              <th class="px-6 py-5 text-center text-lg sm:text-xl font-semibold uppercase"></th>
              <th
                *ngFor="let room of global.rooms"
                class="px-4 py-5 text-center h-full align-top"
              >
                <div class="flex flex-col justify-start items-center h-full">
                  <h3 class="text-2xl sm:text-3xl font-extrabold whitespace-nowrap">
                    {{ room.name }}
                  </h3>
                  <p>{{ room.size }}</p>
                  <p class="text-sm sm:text-base text-gray-300 mt-3">{{ room.type }}</p>
                  <p *ngIf="room.ac" class="text-sm sm:text-base text-green-400 mt-2">
                    {{ 'PRICES.AC' | translate }}
                  </p>
                </div>
              </th>
            </tr>
            </thead>

            <!-- Table Body -->
            <tbody class="divide-y divide-gray-700 text-white text-lg">
            <!-- Normal Prices -->
            <tr>
              <td class="px-6 py-5 text-center font-semibold align-middle" rowspan="2">
                {{ 'ROOMS.NORMAL' | translate }}
              </td>
              <td class="px-6 py-5 text-center">
                {{ 'ROOMS.BAND' | translate }}
              </td>
              <td *ngFor="let room of global.rooms" class="px-6 py-5 text-center">
                {{ room.price }} {{ "PRICES.PRICE_UNIT" | translate }}
              </td>
            </tr>
            <tr>
              <td class="px-6 py-5 text-center">
                {{ 'ROOMS.INDIVIDUAL' | translate }}
              </td>
              <td *ngFor="let room of global.rooms" class="px-6 py-5 text-center">
                {{ global.calculateIndividualPracticePrice(room.price) }} {{ "PRICES.PRICE_UNIT" | translate }}
              </td>
            </tr>

            <!-- Last Minute Prices -->
            <tr>
              <td class="px-6 py-5 text-center font-semibold align-middle" rowspan="2">
                {{ 'ROOMS.LAST_MINUTE' | translate }}
              </td>
              <td class="px-6 py-5 text-center">
                {{ 'ROOMS.BAND' | translate }}
              </td>
              <td *ngFor="let room of global.rooms" class="px-6 py-5 text-center">
                {{ global.calculateLastMinutePrice(room.price) }} {{ "PRICES.PRICE_UNIT" | translate }}
              </td>
            </tr>
            <tr>
              <td class="px-6 py-5 text-center">
                {{ 'ROOMS.INDIVIDUAL' | translate }}
              </td>
              <td *ngFor="let room of global.rooms" class="px-6 py-5 text-center">
                {{ global.calculatePriceWithBothSales(room.price) }} {{ "PRICES.PRICE_UNIT" | translate }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Sales Section -->
    <app-sales-section />
  </div>

  <!-- Equipment Section -->
  <div class="flex flex-col items-center w-full max-w-8xl mx-auto bg-black/30 backdrop-blur-sm rounded-xl p-8 sm:p-10 mt-10">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-10 gap-x-32">

      <!-- Base Equipment -->
      <div class="max-w-4xl mx-auto text-center flex flex-col">
        <h3 class="text-sm uppercase text-light-secondary dark:text-dark-secondary font-poppins tracking-widest">
          {{ "ROOMS.BASE_DESC" | translate }}
        </h3>
        <p class="mt-3 text-3xl sm:text-4xl font-bold text-white">
          {{ "ROOMS.BASE" | translate }}
        </p>
        <ul class="text-left font-poppins text-lg sm:text-xl mt-5 space-y-3 flex-1">
          <li *ngFor="let equipment of global.equipmentList" class="flex items-center gap-x-4">
            <app-icon [iconName]="equipment.icon" class="h-10 w-10"/>
            {{ equipment.name }}
          </li>
        </ul>
      </div>

      <!-- Rentable Equipment -->
      <div class="max-w-4xl mx-auto text-center flex flex-col">
        <h3 class="text-sm uppercase text-light-secondary dark:text-dark-secondary font-poppins tracking-widest">
          {{ "ROOMS.RENT_DESC" | translate }}
        </h3>
        <p class="mt-3 text-3xl sm:text-4xl font-bold text-white">
          {{ "ROOMS.RENT" | translate }}
        </p>
        <ul class="text-left font-poppins text-lg sm:text-xl mt-5 space-y-3 flex-1">
          <li *ngFor="let equipment of global.rentableEquipmentList" class="flex items-center gap-x-4">
            <app-icon [iconName]="equipment.icon" class="h-10 w-10"/>
            <span>{{ equipment.name }}</span>
            <span class="text-light-secondary">- {{ equipment.price }} {{ "FEATURES.PRICE_UNIT" | translate }}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
