<!-- Profile Dropdown -->
<div class="relative menu-container">
  <button
    type="button"
    (click)="toggleUserMenu()"
    class="relative flex rounded-full bg-light-border dark:bg-dark-border text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-none"
    id="user-menu-button"
    aria-expanded="false"
    aria-haspopup="true"
  >
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Open user menu</span>
    <mat-icon>account_circle</mat-icon>
  </button>
  <div
    [ngClass]="{
      'opacity-0 scale-95': !isUserMenuOpen,
      'opacity-100 scale-100': isUserMenuOpen,
    }"
    class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-light-card dark:bg-dark-card py-1 shadow-lg ring-1 ring-light-border dark:ring-dark-border transition-all duration-200 ease-out"
  >
    <div *ngFor="let route of userRoutes">
      <a
        [routerLink]="route.href"
        class="block px-4 py-2 text-sm text-light-foreground dark:text-dark-foreground hover:bg-light-border dark:hover:bg-dark-border"
      >
        {{ route.name | translate }}
      </a>
    </div>
    <div *ngIf="authService.isAdmin()">
      <a
        routerLink="/admin"
        class="block px-4 py-2 text-sm text-light-foreground dark:text-dark-foreground bg-yellow-500/10 hover:bg-red-500 dark:hover:bg-red-500/40"
      >
        Admin
      </a>
    </div>
    <div>
      <button
        *ngIf="authService.isAuthenticated()"
        (click)="authService.logout()"
        class="block px-4 py-2 text-sm text-light-foreground dark:text-dark-foreground hover:bg-light-border dark:hover:bg-dark-border w-full text-left"
      >
        {{ "USER.LOGOUT" | translate }}
      </button>
    </div>
  </div>
</div>
