<div class="mt-20 mb-10">
  <div class="w-full h-full mb-20 mx-auto max-w-2xl px-2 sm:px-6 lg:max-w-7xl lg:px-4 text-center">
    <div class="mx-auto max-w-4xl lg:text-center mb-5">
      <h2 class="text-base/7 uppercase text-dark-secondary font-poppins tracking-[0.25em]">{{ "ROOMS.PRE_TITLE" | translate }}</h2>
      <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty sm:text-5xl lg:text-balance">{{ "ROOMS.TITLE" | translate }}</h1>
      <p class="mt-6 text-lg text-dark-secondary font-poppins">{{ "ROOMS.DESCRIPTION" | translate }}</p>
    </div>

    <app-room-list [rooms]="global.rooms" />
  </div>
</div>
