<ng-container *ngIf="bookingService.isBookingPresent(roomId, time); else checkActive">
    {{ getBookDisplayName(bookingService.getBooking(roomId, time)) }}
</ng-container>

<ng-template #checkActive>
    <ng-container *ngIf="bookingService.isCellActive(roomId, time); else inactiveSlot">
        <ng-container *ngTemplateOutlet="emptySlot"></ng-container>
    </ng-container>
</ng-template>

<ng-template #emptySlot>
    <button class="absolute inset-0" (click)="tryToBook.emit({ roomId, time })">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke-width="1.5" stroke="currentColor" class="size-6 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </button>
</ng-template>

<ng-template #inactiveSlot>
</ng-template>
